/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #F3F6FA;
    color: #2E3D49;
    margin: 0;
  }
  
  /* Header */
  header {
    background-color: #FFFFFF;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  nav a {
    color: #0077B5;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
  }
  
  nav a:last-child {
    margin-right: 0;
  }
  
  /* Main */
  main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  article {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #0077B5;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Footer */
  footer {
    background-color: #FFFFFF;
    padding: 10px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
  }
  